<form name="editForm" class="well row" novalidate ng-submit="saveUser(user)">
  <input type="text" class="col-lg-3" ng-model="user.name" required ng-minlength="3"/>&nbsp;&nbsp;
  <input type="email" ng-model="user.email" class="col-lg-4" required/>&nbsp;&nbsp;
  <button class="col-lg-1 btn btn-sm btn-success glyphicon-floppy-disk glyphicon"></button>
</form>
